<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>slave1</name>
  <description></description>
  <remoteFS>/home/jenkins_slave</remoteFS>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.30.0">
    <host>172.31.6.189</host>
    <port>22</port>
    <credentialsId>50c6e348-646b-41b0-aced-799c634a7cf3</credentialsId>
    <launchTimeoutSeconds>210</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.KnownHostsFileKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>slave</label>
  <nodeProperties/>
</slave>